:host {
  display: flex;
  flex-direction: column;

  app-header {
    flex: 0 1;
  }

  #outlet-container {
    // border: wheat solid;

    flex-grow: 1;

    // overflow-y: auto;
  }

  app-footer {
    flex: 0 1;
  }
}
