<div class="p-4 pt-0">
  <h1>ChangeIt Angular Application</h1>

  <p>
    Thank you for taking the time to review this project.
  </p>
  <p>
    This Angular application loads data from fakerapi.it and displays it in two different components using PrimeNG.
  </p>
  <p>
    I use a flex layout to render a header and footer around the router-outlet.
  </p>
  <p>
    In next iterations of this project I would like to fill out some of the spec files.
  </p>
  <p>
    Thanks again! After you have clicked around checkout the <a href="http://localhost:3000">React Implementation</a> where I mirrored
    this functionality using React.
  </p>
</div>
